.invisible {visibility: hidden}
.carousel-container,.carousel-content,.carousel-track {position: relative; display: block}

.carousel-container {
  margin: 0px 0px 0px 0px;
  box-sizing: border-box;
  overflow: hidden;
  width: 100%;

  .dragging { cursor: pointer; cursor:hand }
  .carousel-content .carousel-track {transform: translate3d(0,0,0)}

  .carousel-slider {
    overflow: hidden;
    margin: auto;
    font-size: 22px;

    .carousel-content {
      width: 6830.88px;
      float: left;
      height: 100%;
      min-height: 1px;
      margin: 0;
      padding: 0;
      touch-action: pan-x;
      -webkit-tap-highlight-color: transparent;

      .carousel-item {
        color: white;
        display: block;
        float: left;
        height: 100%;
        min-height: 1px;
        transition: opacity 0.2s;
        opacity: 0.5;

        &.selected {
          transition: opacity 0.5s;
          opacity: 1;
        }

        .item {
          width: auto;
          text-align: center; 
        }

        .item-content {
          user-select: none;
          pointer-events: none;
        }
      }
    }
  }

  .carousel-nav {
    user-select: none;
    display: block;

    .prev {
      margin: auto;
      position: absolute;
      left: -10px;
      opacity: 1;
    }

    .next {
      margin: auto;
      position: absolute;
      right: -10px;
      opacity: 1;
    }

    .disabled {
      user-select: none;
      cursor: default;
      opacity: 0.1;
    }

    .enabled {
      cursor: pointer;
      opacity: 1;
    }
  }
  
}